

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  background-image:        url(https://i.pinimg.com/originals/7c/33/4b/7c334b0c4f45645941571904c171058b.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#buddy{
  color: #FFFFFF;
}

.login-box {
  width: 500px;
  height: inherit;
  background: #fff;
  color: #333;
  top: 50%;
  left: 50%;
  margin:0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  padding: 30px 20px;
  border-radius: 10px;
}

.login-box h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.login-box label,fgt {
  font-weight: bold;
  display: block;
}

.login-box input[type="text"],select,textarea,
.login-box input[type="number"],
.login-box input[type="date"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #333;
}

.login-box input[type="submit"] {
  width: 100%;
  background: #333;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
header,footer{
        font-size: 26px;
        background-color:#62CDFF;
        color: #fff;
        padding: 20px;
        text-align: center;
      }

.login-box input[type="submit"]:hover {
  background: #000;
}
footer{
	margin-bottom:10px;
}	
header{
	margin-top:5px;
}
